@charset "utf-8";
@import "./utilities/variables";
@import "./utilities/mixins";

.membership {
	/* (공통) 헤더 부분 */
	.head-visual {
		height: 800px;
		background: transparent linear-gradient(90deg, #00000099 0%, #16161666 42%, #61616100 100%) 0% 0% no-repeat;
		color: $color-white;
		.head-tit-wrap {
			max-width: 1280px;
		}
		.logo {
			width: 275px;
			height: 80px;
			img {
				@include image-fit;
			}
		}
		.title {
			margin: -15px 0 -15px -30px;
		}
		.intro {
			margin-top: 0px;
		}
		.btn_set {
			margin-top: 36px;
		}
	}
	/* (공통) 컨텐츠 부분 */
	.inner {
		position: relative;
		z-index: 1;
		padding-top: 114px;
		&.membership-news-wrap {
			padding-top: 140px;
		}
		&.gom-use-guide-inner-wrap {
			padding-top: 0;
		}
	}
	.cmn-content-head {
		margin-top: 80px;
		&:first-child {
			margin-top: 0;
		}
	}
	/* 상세 혜택 영역 */
	.membership-benefit {
		position: relative;
		height: 550vh;
		background-color: $color-blue-9;
	}
	.benefit-wrap {
		position: absolute;
		top: 0;
		width: 100%;
		height: calc(var(--vh-full-size) - 79px);
		align-items: center;
		box-sizing: border-box;
		&::before {
			position: absolute;
			top: -58px;
			right: -30px;
			z-index: 1;
			width: 797px;
			height: 1856px;
			//margin-left: 163px;
			background: radial-gradient(100% 42.11% at 100% 44.21%, #991FE8 0%, rgba(153, 31, 232, 0.40) 58.33%, rgba(153, 31, 232, 0.00) 100%);
			filter: blur(50px);
			content: '';
		}
		.inner {
			overflow: hidden;
			display: flex;
			justify-content: space-between;
			gap: 17px;
			padding: 0 0 85px;
			height: 100%;
			align-items: center;
		}
		.cmn-content-head {
			min-width: 600px;
			margin-bottom: 0;
			color: $color-white;
			h2 {
				color: $color-white;
				font-size: 50px; //임시 적용
				line-height: 61px; //임시 적용
			}
			.exp {
				margin-top: 20px;
				@include txt(24);
				font-weight: 700;
			}
		}
	}
	.benefit-item-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		flex-basis: calc(50% + 63px);
		.benefit-item {
			position: absolute;
			top: 24.6vh;
			left: 50%;
			width: 45.64vh;
			min-width: 435px;
			max-width: 435px;
			height: 62.95vh;
			max-height: 600px;
			min-height: 600px;
			padding: 37px 40px 40px;
			background: linear-gradient(180deg, #FFFFFFCC 0%, #FFFFFF 100%) 0% 0% no-repeat;
			border: 1px solid $color-white;
			box-shadow:  0 40px 60px #5772E833;
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			border-radius: 20px;
			box-sizing: border-box;
			transition: 0.5s ease-in-out;
			transition-property: transform, opacity;
			transform-origin: -150% 150%;
			transform: translateX(-42%);
			dt {
				@include txt(36);
				letter-spacing: -1px;
				font-weight: 700;
				color: $color-blue-9;
				.num {
					display: block;
					margin-bottom: 20px;
					color: $color-gray-06;
				}
				.img {
					position: absolute;
					display: block;
					width: 200px;
					height: 200px;
					bottom: 40px;
					left: 40px;
					img {
						@include image-fit;
					}
				}
			}
			dd {
				padding-top: 40px;
				@include txt(16);
				p {
					& + p {
						margin-top: 16px;
					}
				}
			}
			&:nth-child(1) {
				z-index: 6;
				transform: translateX(-46%) translateY(-2%) rotate(-8deg);
			}
			&:nth-child(2) {
				z-index: 5;
			}
			&:nth-child(3) {
				z-index: 4;
				transform: translateX(-50.8%) translateY(-12%) rotate(6deg);
			}
			&:nth-child(4)  {
				z-index: 3;
				transform: translateX(-62%) translateY(-25%) rotate(12deg);
			}
			&:nth-child(5) {
				z-index: 2;
				transform: translateX(-68%) translateY(-40%) rotate(18deg);
				opacity: 0;
			}
			&:nth-child(6) {
				z-index: 1;
				transform: translateX(-77%) translateY(-54%) rotate(24deg);
				opacity: 0;
			}
		}
		&.card-2-active {
			.benefit-item {
				&:nth-child(1) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(2) {
					transform: translateX(-46%) translateY(-2%) rotate(-8deg);
				}
				&:nth-child(3) {
					transform: translateX(-42%) translateY(0) rotate(0);
				}
				&:nth-child(4)  {
					transform: translateX(-50.8%) translateY(-12%) rotate(6deg);
				}
				&:nth-child(5) {
					transform: translateX(-62%) translateY(-25%) rotate(12deg);
					opacity: 1;
				}
				&:nth-child(6) {
					transform: translateX(-68%) translateY(-40%) rotate(18deg);
					opacity: 0;
				}
			}
		}
		&.card-3-active {
			.benefit-item {
				&:nth-child(1) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(2) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(3) {
					transform: translateX(-46%) translateY(-2%) rotate(-8deg);
				}
				&:nth-child(4) {
					transform: translateX(-42%) translateY(0) rotate(0);
				}
				&:nth-child(5)  {
					transform: translateX(-50.8%) translateY(-12%) rotate(6deg);
					opacity: 1;
				}
				&:nth-child(6) {
					transform: translateX(-62%) translateY(-25%) rotate(12deg);
					opacity: 1;
				}
			}
		}
		&.card-4-active {
			.benefit-item {
				&:nth-child(1) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(2) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(3) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(4) {
					transform: translateX(-46%) translateY(-2%) rotate(-8deg);
				}
				&:nth-child(5) {
					transform: translateX(-42%) translateY(0) rotate(0);
					opacity: 1;
				}
				&:nth-child(6)  {
					transform: translateX(-50.8%) translateY(-12%) rotate(6deg);
					opacity: 1;
				}
			}
		}
		&.card-5-active {
			.benefit-item {
				&:nth-child(1) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(2) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(3) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(4) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(5) {
					transform: translateX(-46%) translateY(-2%) rotate(-8deg);
					opacity: 1;
				}
				&:nth-child(6) {
					transform: translateX(-42%) translateY(0) rotate(0);
					opacity: 1;
				}
			}
		}
		&.card-6-active {
			.benefit-item {
				&:nth-child(1) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(2) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(3) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(4) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
				}
				&:nth-child(5) {
					transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					opacity: 1;
				}
				&:nth-child(6) {
					transform: translateX(-46%) translateY(-2%) rotate(-8deg);
					opacity: 1;
				}
			}
		}
	}
	/* 이용권 영역 */
	.membership-ticket {
		position: relative;
		background: linear-gradient(180deg, #ffffff 0%, #F4F4F4 100%) 0% 0% no-repeat;
		.cmn-content-head {
			z-index: 2;
			padding-top: 120px;
			.easy-txt {
				height: 229px;
				margin-bottom: 48px;
				background: url('#{$img-url}/membership/membership_ticket_txt.png') center center no-repeat;
				background-size: contain;
				font-size: 0;
				line-height: 0;
				text-indent: -9999px;
			}
		}
		.membership-title {
			text-align: center;
			@include txt(48);
			span {
				display: block;
				color: $color-blue-9;
			}
		}
		.gom-card-box-defalut {
			padding: 80px 0 160px;
		}
		.gom-package-item {
			.gom-package-bnr {
				position: relative;
				z-index: 1;
				top: unset;
				margin-top: -61px;
			}
		}
		&:before {
			position: absolute;
			bottom: -827px;
			z-index: -1;
			left: -786px;
			width: 1932px;
			height: 1933px;
			background: radial-gradient(84.1% 54.22% at 0% 45.78%, #5772E8 0%, rgba(87, 114, 232, 0.40) 58.33%, rgba(87, 114, 232, 0.00) 100%);
			filter: blur(50px);
			content: '';
		}
	}
	.download-list {
		display: flex;
		gap: 34px;
		padding: 24px 0 0;
		li {
			text-align: center;
			span {
				display: block;
				width: 80px;
				height: 80px;
				margin: 0 auto 12px;
				img {
					@include image-fit;
				}
			}
			p {
				margin-bottom: 24px;
				@include txt(16);
			}
			[class^=btn-] {
				padding: 0 35px;
			}
		}
	}
	/* 소식 */
	.membership-news {
		// padding: 80px 80px 77px;
		position: relative;
		height: 400px;
		border-radius: 10px;
		overflow: hidden;
		// background-color:  #00FF2233;
		.membership-news-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			img {
				@include image-fit($fit: cover);
			}
		}
		h2 {
			@include txt(36);
			font-weight: 700;
			margin-bottom: 20px;
		}
		.exp {
			@include txt(24);
		}
		.btn-wrap {
			margin-top: 32px;
			justify-content: flex-start;
		}
	}
	/* 곰패스 유의사항 */
	.membership-notice {
		dt {
			margin-bottom: 12px;
			font-weight: 700;
			@include txt(14);
		}
		dd {
			@include txt(12);
		}
	}
	/* animate 요소 */
	.animate-item {
		position: absolute;
		z-index: 1;
		&.animate-item-01 {
			width: 450px;
			top: -55px;
			right: 62px;
		}
		&.animate-item-02 {
			width: 824px;
			bottom: -338px;
			left: 0;
			&.active {
				transform: translateX(-43%) translateY(0px);
			}
		}
		&.animate-item-03 {
			width: 780px;
			bottom: -260px;
			right: 0;
			transform: translateX(60%) translateY(80px);
			&.active {
				transform: translateX(60%) translateY(0px);
			}
		}
		img {
			@include image-fit;
		}
	}
	/* 애니메이션 */
	[data-txt-animation] {
		opacity: 0;
		transform: translateY(80px);
		transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
		transition-property: opacity, transform;
		&.active {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

/* 반응형 */
@include tablet {
	.membership {
		.benefit-wrap {
			.inner {
				align-items: unset;
				flex-direction: column;
				gap: 36px
			}
			.cmn-content-head {
				min-width: unset;
				padding-top: 48px;
				color: $color-white;
				h2 {
					@include txt(36);
				}
				.exp {
					margin-top: 18px;
					@include txt(20);
					font-weight: 400;
				}
			}
		}
		.benefit-item-wrap {
			flex-basis: unset;
			.benefit-item {
				&:nth-child(1) {
					transform: translateX(-46%) translateY(-16%) rotate(-6deg);
				}
				&:nth-child(2) {
					transform: translateX(-42%) translateY(-8%);
				}
				&:nth-child(3) {
					transform: translateX(-50.8%) translateY(-22%) rotate(7deg);
				}
				&:nth-child(4) {
					transform: translateX(-62%) translateY(-36%) rotate(14deg);
				}
				&:nth-child(5) {
					transform: translateX(-68%) translateY(-67%) rotate(21deg);
				}
				&:nth-child(6) {
					transform: translateX(-77%) translateY(-81%) rotate(27deg);
				}
			}
			&.card-2-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-46%) translateY(-16%) rotate(-6deg);
					}
					&:nth-child(3) {
						transform: translateX(-42%) translateY(-8%);
					}
					&:nth-child(4) {
						transform: translateX(-50.8%) translateY(-22%) rotate(7deg);
					}
					&:nth-child(5) {
						transform: translateX(-62%) translateY(-36%) rotate(14deg);
					}
					&:nth-child(6) {
						transform: translateX(-68%) translateY(-67%) rotate(21deg);
					}
				}
			}
			&.card-3-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(3) {
						transform: translateX(-46%) translateY(-16%) rotate(-6deg);
					}
					&:nth-child(4) {
						transform: translateX(-42%) translateY(-8%);
					}
					&:nth-child(5) {
						transform: translateX(-50.8%) translateY(-22%) rotate(7deg);
					}
					&:nth-child(6) {
						transform: translateX(-62%) translateY(-36%) rotate(14deg);
					}
				}
			}
			&.card-4-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(3) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(4) {
						transform: translateX(-46%) translateY(-16%) rotate(-6deg);
					}
					&:nth-child(5) {
						transform: translateX(-42%) translateY(-8%);
					}
					&:nth-child(6) {
						transform: translateX(-50.8%) translateY(-22%) rotate(7deg);
					}
				}
			}
			&.card-5-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(3) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(4) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(5) {
						transform: translateX(-46%) translateY(-16%) rotate(-6deg);
					}
					&:nth-child(6) {
						transform: translateX(-42%) translateY(-8%);
					}
				}
			}
			&.card-6-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(3) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(4) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(5) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(6) {
						transform: translateX(-46%) translateY(-16%) rotate(-6deg);
					}
				}
			}
		}
	}
}

@include mobile {
	.membership {
		/* (공통) 헤더 부분 */
		.head-visual {
			display: block;
			height: auto;
			padding: 48px 24px;
			background: url(#{$img-url}/membership/membership_visual_bg.png) 0 0 no-repeat;
			background-size: cover;
			//text-align: center;
			color: $color-black;
			.head-visual-wrap {
				height: 53.15vw;
				margin-top: 40px;
				position: static;
				border-radius: 4px;
			}
			.logo {
				width: unset;
				height: 34px;
				img {
					margin: 0 auto;
				}
			}
			.title {
				height: 58px;
				margin: 4px 0 0;
				img {
					display: block;
					margin: 0 auto;
					@include image-fit;
				}
			}
			.intro {
				margin-top: 12px;
				@include txt(14);
				text-align: center;
			}
			.btn_set {
				margin-top: 24px;
				[class^=btn-] {
					width: 100%;
					height: 36px;
				}
			}
		}
		/* (공통) 컨텐츠 부분 */
		.inner {
			padding-top: 64px;
			&.membership-news-wrap {
				padding-top: 40px;
			}
			&.gom-use-guide-inner-wrap {
				padding-top: 0;
			}
		}
		.cmn-content-head {
			margin-top: 64px;
			&:first-child {
				margin-top: 0;
			}
		}
		/* 상세 혜택 영역 */
		.membership-benefit {
			height: 480vh;
			.inner {
				display: block;
				box-sizing: border-box;
			}
		}
		.benefit-wrap {
			height: calc(var(--vh-full-size) - 48px);
			&::before {
				top: 0;
				left: 15px;
				width: 80vw;
				height: 190vw;
				margin-left: -30.4vw;
			}
			.inner {
				padding: 0 0 80px;
				align-items: unset;
				flex-direction: column;
			}
			.cmn-content-head {
				min-width: unset;
				color: $color-white;
				h2 {
					@include txt(24);
				}
				.exp {
					margin-top: 16px;
					@include txt(14);
					font-weight: 400;
				}
			}
		}
		.benefit-item-wrap {
			position: absolute;
			top: 140px;
			left: 24px;
			width: calc(100% - 48px);
			height: calc(100% - 140px);
			.benefit-item {
				top: 30vh;
				width: 75.2vw;
				max-width: 335px;
				min-width: unset;
				height: unset;
				min-height: auto;
				transform: unset;
				padding: 24px 24px 32px;
				box-shadow:  0 20px 20px #5772E833;
				border-radius: 10px;
				transform-origin: -150% 150%;
				dt {
					@include txt(16);
					color: $color-black-1;
					.num {
						width: 29px;
						margin-bottom: 0;
						img {
							@include image-fit;
						}
					}
					.img {
						position: static;
						bottom: unset;
						left: unset;
						width: 120px;
						height: 120px;
						margin-bottom: 12px;
					}
				}
				dd {
					padding-top: 16px;
					@include txt(12);
				}
				&:nth-child(1) {
					transform: translateX(-46%) translateY(-36%) rotate(-4deg);
				}
				&:nth-child(2) {
					transform: translateX(-59%) translateY(-49%) rotate(4deg);
				}
				&:nth-child(3) {
					transform: translateX(-64%) translateY(-53%) rotate(8deg);
				}
				&:nth-child(4)  {
					transform: translateX(-71%) translateY(-65%) rotate(13deg);
				}
				&:nth-child(5) {
					transform: translateX(-78%) translateY(-78%) rotate(16deg);
				}
				&:nth-child(6) {
					transform: translateX(-85%) translateY(-92%) rotate(20deg);
				}
			}
			&.card-2-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-46%) translateY(-36%) rotate(-4deg);
					}
					&:nth-child(3) {
						transform: translateX(-59%) translateY(-49%) rotate(4deg);
					}
					&:nth-child(4) {
						transform: translateX(-64%) translateY(-53%) rotate(8deg);
					}
					&:nth-child(5)  {
						transform: translateX(-71%) translateY(-65%) rotate(13deg);
					}
					&:nth-child(6) {
						transform: translateX(-78%) translateY(-78%) rotate(16deg);
					}
				}
			}
			&.card-3-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(3) {
						transform: translateX(-46%) translateY(-36%) rotate(-4deg);
					}
					&:nth-child(4) {
						transform: translateX(-59%) translateY(-49%) rotate(4deg);
					}
					&:nth-child(5) {
						transform: translateX(-64%) translateY(-53%) rotate(8deg);
					}
					&:nth-child(6)  {
						transform: translateX(-71%) translateY(-65%) rotate(13deg);
					}
				}
			}
			&.card-4-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(3) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(4) {
						transform: translateX(-46%) translateY(-36%) rotate(-4deg);
					}
					&:nth-child(5) {
						transform: translateX(-59%) translateY(-49%) rotate(4deg);
					}
					&:nth-child(6) {
						transform: translateX(-64%) translateY(-53%) rotate(8deg);
					}
				}
			}
			&.card-5-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(3) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(4) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(5) {
						transform: translateX(-46%) translateY(-36%) rotate(-4deg);
					}
					&:nth-child(6) {
						transform: translateX(-59%) translateY(-49%) rotate(4deg);
					}
				}
			}
			&.card-6-active {
				.benefit-item {
					&:nth-child(1) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(2) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(3) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(4) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(5) {
						transform: translateX(-59%) translateY(-200vh) rotate(-18deg);
					}
					&:nth-child(6) {
						transform: translateX(-46%) translateY(-36%) rotate(-4deg);
					}
				}
			}
		}
		/* 이용권 영역 */
		.membership-ticket {
			.cmn-content-head {
				padding-top: 0;
				.easy-txt {
					display: none;
				}
			}
			.membership-title {
				@include txt(24);
				span {
					margin-top: 12px;
					@include txt(20);
				}
			}
			.gom-card-box-defalut {
				padding: 16px 0 100px;
			}
			.gom-package-item {
				.gom-package-bnr {
					margin-top: 0;
				}
			}
			&:before {
				display: none;
			}
		}
		/* 소식 */
		.membership-news {
			position: relative;
			min-height: auto;
			height: auto;
			// padding: 48px 24px 84px;
			border-radius: 4px;
			box-sizing: border-box;
			.membership-news-bg {
				position: static;
			}
			h2 {
				text-align: center;
				@include txt(24);
			}
			.exp {
				text-align: center;
				@include txt(14);
			}
			.btn-wrap {
				position: absolute;
				bottom: 24px;
				left: 0;
				width: 100%;
				justify-content: center;
				.btn-lg {
					height: 36px;
					padding: 0 32px;
				}
			}
		}
		/* 곰패스 유의사항 */
		.membership-notice {
			dt {
				margin-bottom: 12px;
				font-weight: 700;
				@include txt(14);
			}
			dd {
				@include txt(12);
			}
		}
		/* animate 요소 */
		.animate-item {
			&.animate-item-01 {
				width: 67.2vw;
				top: -6.1vw;
				right: 0;
				transform: translateX(60%) translateY(80px);
				&.active {
					transform: translateX(60%) translateY(0px);
				}
			}
			&.animate-item-02 {
				width: 109vw;
				bottom: -5.9vw;
				left: 0;
				transform: translateX(-42%) translateY(80px);
				&.active {
					transform: translateX(-42%) translateY(0px);
				}
			}
			&.animate-item-03 {
				width: 68.8vw;
				bottom: -10.6vw;
				right: 0;
				transform: translateX(60%) translateY(80px);
				&.active {
					transform: translateX(60%) translateY(0px);
				}
			}
		}
	}
}